.home{
    display: flex;
    
}
.home-child-1{
    display: flex;
    flex-direction: column;
    height: 639px;
    background-color: rgb(3,25,61);
    justify-content: space-between;
    width: 160px;
    padding: 10px 0px ;
    border-top: 3px solid rgb(254,205,9);
}

.sidebar-btn{
    background: transparent;
    border: none;
    color:white;
    font-size: 17px;
}

.sidebar-btn:hover{
    color:rgb(254,205,9);
}

.sidebar-border{
    border-top: 3px solid rgb(254,205,9) ;
}

.sidebar-heading{
    color:rgb(254,205,9);
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.home-child-2{
    height: 662px;
    width: 100%;
    background-color:rgb(6, 41, 97);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.home-child-2::-webkit-scrollbar{
    display: none;
}
.home-heading{
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0px;
    border-bottom: 3px solid rgb(254,205,9) ;
    color: white;
}

